/* estilo.css me sirve para ponerlo todo mas bonito */

body {
    font-family: Arial;
    background-color: #211a1a;
    color: #f9f5f5;
    align-items: end;
     

}


.barra_superior{
    display: flex;
    list-style: none;
    background-color: #211a1a;
    padding: 2.5%;
    font-family: 'arial black'; /*arial black Trebuchet MS impact */
    
    flex-wrap:nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    margin:0; 

    
}

.barra_superior a{
    text-decoration: none;
    text-align: center;
    color: #f9f5f5;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    transition: color 0.45s; 
 
}



.barra_superior li a:hover{
    background-color:rgb(65, 67, 139); /*rgb(253, 207, 23) rgb(65, 67, 139) rgb(38, 11, 84)*//*
    color: rgb(23, 9, 69); /*rgb(24, 10, 71)*/
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    
}

#museo:target, #noticias:target , #hall-of-fame:target, #wishlist:target, #APIs:target{
    display: block;
    position:static;
    color: #f9f5f5;
    margin-top: 15%;
    
    
}

#inicio:target{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    height: 100vh;

    /*
    background-image: url(https://stsci-opo.org/STScI-01G77PKYA4T05YKJ3EDQ36NZCX.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-color: aliceblue;*/

}

.imagenPrincipal{

    background-color: #211a1a;
    width: 100%;
    height:100%; 
    background-repeat: repeat;
    background-position: center;
    background-size:contain;
    z-index: -1;
}

#SpaceHubTitle {
    position: absolute;
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%);
    color: #f5f1f1; /* Color del texto */
    font-size: 50px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    text-align: center; /* Alineación del texto */
    font-family: arial black; 
}



#inicio, #museo,
#noticias,
#hall-of-fame,
#wishlist, #APIs{
    display: none;
    margin-top: 0px;
}






.indice{
    display:grid; 
    grid-template-rows: repeat(auto-fit, minmax(100px,1fr));
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-gap: 1em 1em;
}

#catalogo_de_imagenes{
    display:grid; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}

.listaRating{
    list-style-type: none;
    
}

.button{
    border-radius: 10%; 
    padding: 1%;
    font-family: arial black;
    cursor: pointer;

}

.button:hover{
    background-color: rgb(253, 207, 23);
    color:white;

}

.inputText{
    width: 100%;
    color:rgb(221, 54, 132); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Courier, monospaced black;
}

#catalogo_de_imagenes img {
    width: 100%;
    height: 100%;
}
#catalogo_de_imagenes th{
    font-size: 3vw;
}

#hall_of_fame img{
    width: 100px;
    height: 10px;
}

iframe{
    width: 100%;
    height: 400px;
    padding: 0%;
}


#catalogo_de_imagenes{
    display: grid;
    grid-template-columns: 3fr; /* Divide la tabla en tres columnas de igual ancho */
    grid-template-rows: auto;
    justify-content: left;
    color: rgb(238, 244, 242);
    
    
    
}

.titulo-imagen{
    color:rgb(131, 138, 237);
    text-align: center;
    font-family: arial black;
    font-size: 1.5vw;
}

@media screen and (max-width: 600px) {
    /* Si el ancho de la pantalla es menor o igual a 600px */
    #catalogo_de_imagenes {
      display: block; /* Cambia el modo de visualización a bloque */
    }
    #catalogo_de_imagenes tr {
      display: block; /* Cada fila se mostrará como un bloque */
      margin-bottom: 20px; /* Espacio entre cada fila */
    }
    #catalogo_de_imagenes td {
      display: block; /* Cada celda se mostrará como un bloque */
      width: 100%; /* Ocupa todo el ancho disponible */
      text-align: center; /* Alinea el texto a la izquierda */
      font-size: 3vw;
      
    }
    .titulo-imagen{
        color:rgb(131, 138, 237);
        text-align: center;
        font-family: arial black;
        font-size: 1.5vw;
        border: 250px;
    }
    

  }
  #hall-of-fame img{
        align-items: center;
         
  }

 

span {
  font-family: arial black;
  font-size: 1.2em; 
  font-size: em;
  position: relative;
  top: 50%;
  margin: 0.5em;
  left: 0;
  
  background-image: linear-gradient(rgb(65, 67, 139),rgb(65, 67, 139));
  background-size: 100% 6px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}




.text-center{
    display: flex;
    justify-content: center;
    text-align: center;
}
#apod, #image_iss{
    width: 80%; 
    height: auto; 
    display: block;
    margin: 0 auto;
}

.btnApi{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: rgb(168, 86, 168);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.btnApi:hover{
  background-color: #9944c6b4;
  content: "CLick Me"; 

}
#map {
	height: 500px;
	width: 80%;
  display: block;
    margin: 0 auto;
}

#imagenPrincipal{
  width: 100%; 
}
.header2{
  font-size: 2vw;
}
.header3{
  font-size: 1.5vw;
}
#projectMercury, #GeminiPrm, #ApolloPrm, #TheFirstSixWomen, #SpaceShuttleEra, #SpaceStationEra{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%; 
}

.centered-paragraph {
  width: 80%;
  margin: 0 auto; /* Esto centra horizontalmente el párrafo */
}





/*

button {
    width:15rem;
    height: 45px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-width: 10px;
    background: linear-gradient(to right, #910A67, #3C0753, #030637);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 10px;
    margin-top: 100px;
    display: block; /* Hace que el botón sea un elemento de bloque     margin: 0 auto; /* Establece márgenes automáticos a izquierda y derecha 
    text-align: center; /* Alinea el texto dentro del botón al centro 
  }
  
  button svg {
    height: 40px;
    width: 60px;
    transform: translate(-80px,0px) rotate(90deg);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1)
  }
  
  button .Click { 
    transform: translate(+30px,-55px);
    font-size: 20px;
    transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1)
  }*/
  /* generate APOD*/
  /*
  button .OnHover {
    transform: translate(-35px,-100px);
    font-size: 20px;
    opacity: 0%;
    transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1)
  }
  
  button:hover svg {
    transform: translate(90px,0px) rotate(90deg);
  }
  
  button:hover .Click {
    opacity: 0%;
  }
  
  button:hover .OnHover {
    opacity: 100%;
  }
  */
  #c_multimedia{

    display: block; 
    margin-left:auto;
    margin-right:auto;
  }















